.services {
  margin-top: 106px;
  padding: 60px 0 0;
}

.services__title {
  font-weight: 600;
  font-size: 58px;
  line-height: 1.17241;
  text-align: center;
  color: #094067;
  margin-bottom: 30px;
}

.about__paragraf {
  margin: 0 auto;
  width: 832px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #4e616d;
}
.about__slider {
  margin-top: 50px;
}
.aboutItem {
}
.aboutImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 179px;
  height: 135px;
  margin: 0 auto;
  position: relative;
}
.aboutBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.aboutBackground img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.aboutIcon {
  width: 70px;
  height: 70px;
  position: relative;
  z-index: 2;
}
.aboutIcon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.aboutItemContent {
  margin-top: 30px;
  font-size: 32px;
  line-height: 1.5;
  text-align: center;
  color: #094067;
}
.aboutItemDescription {
  margin-top: 10px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.55556;
  text-align: center;
  color: #4e616d;
}
@media (max-width: 1280px) {
  .services {
    margin-top: 0;
    padding: 0 0 50px;
  }
  .services__title {
    font-size: 48px;
  }
  .about__paragraf {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .services__title {
    font-size: 38px;
    margin: 0 0 20px;
  }
  @media (max-width: 650px) {
    .services__title {
      font-size: 26px;
      margin: 15px 0;
    }
    .about__paragraf {
      font-size: 16px;
    }
    .aboutItemContent {
      margin: 15px 0;
      font-size: 24px;
    }
    .aboutItemDescription {
      font-size: 16px;
    }
    .services {
      margin-top: 0;
      padding: 0;
    }
  }
}
