.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}
.modalAction {
  position: absolute;
  z-index: 5;
  right: 25px;
  top: 30px;
  left: auto;
}
.modalAction a {
  display: block;
  height: 37px;
  width: 37px;
}
.modalAction a span {
  background-color: #094067;
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.modalAction a span:nth-child(2) {
  margin: 9px 0;
}
.modalAction.active a span {
  background-color: #3da9fc;
}
.modalAction.active a span:first-child {
  transform: rotate(45deg) translateY(3px);
}
.modalAction.active a span:nth-child(2) {
  display: none;
}
.modalAction.active a span:nth-child(3) {
  transform: rotate(-45deg) translateY(-2px);
}
.modal {
  position: fixed;
  right: 0;
  top: 0;
  background-color: white;
  width: 60vw;
  height: 90vh;
  padding: 40px 30px;
}
.modalUl {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
}
.modalUl li a {
  font-size: 20px;
  color: #3da9fc;
}
@media (max-width: 550px) {
  .modal {
    width: 70%;
    height: 85%;
    padding: 60px 10px 10px 40px;
  }
}
