.header {
  margin: 30px 0 60px;
}
.header__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0;
}
.logo {
  /* margin-right: 270px; */
}
.logo a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  color: #094067;
}
.header__nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.header__nav li a {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11111;
  color: #4e616d;
}
.header__nav li a:hover {
  color: #094067;
}
