.footer {
  background: #094067;
  padding: 160px 120px;
  color: white;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  overflow: hidden;
}
.footerFlex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.footerWrapper {
  width: 100%;
}
.footerSoc {
  display: flex;
  gap: 20px;
}
.footerSocIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 58px;
  height: 58px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.footerSocIcon:hover {
  background-color: rgba(225, 225, 225, 0.9);
}
.footerInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footerImage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.footerImage img {
  width: 100px;
  height: 100%;
  object-fit: cover;
}
.foterInfoLink {
  color: white;
}
@media (max-width: 991px) {
  .footerFlex {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .footer {
    padding: 90px 30px;
  }
}
@media (max-width: 550px) {
  .footer {
    padding: 50px 15px 60px;
  }
}
